* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
font-family: Tanha;
}
@font-face {
    font-family: 'Tanha';
    src: url('../fonts/Tanha-FD.woff2') format('woff2');
}
a{
    text-decoration: none;
}
.container{
    max-width: 1300px;
    margin: 5rem auto;
}
.grid_product a{
    display: inline-block;
    width: 300px;
}
.img_product{
    margin-bottom: 2rem;
    text-align: center;
}
.caption_item_product{
    color: #000;
    text-align: center;
}
.text_product{
    margin: 1rem 0;
}