* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    direction: rtl;
font-family: Tanha;
}
@font-face {
    font-family: 'Tanha';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Tanha-FD.woff2') format('woff2');
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
.container{
    max-width: 1300px;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
}
.grid_product a{
    /* display: inline-block;
    width: 300px; */
}
.img_product{
    margin-bottom: 2rem;
    text-align: center;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.caption_item_product{
    color: #000;
    text-align: center;
}
.title_product{
    font-size: 1.3rem;
    font-weight: bold;
}
.text_product{
    margin: 1rem 0;
}

@media screen and (max-width:999px) {
    .container{
        grid-template-columns: repeat(3,1fr);

    }
}
@media screen and (max-width:768px) {
    .container{
        grid-template-columns: repeat(2,1fr);

    }
}
@media screen and (max-width:472px) {
    .container{
        grid-template-columns: repeat(1,1fr);

    }
}